<!doctype html>
<html>

<head>
	<title>Success 200: Ok!</title>
	<meta name="description" content="Ok!">
	<meta name="keywords" content="200 success">
</head>

<body>
	<p style="font-family: monospace;">Operation [{#op}] on [{#path}] successfully executed.</p>
</body>

</html>