<!doctype html>
<html>

<head>
	<title>Error 301: Permanently Moved!</title>
	<meta name="description" content="Permanently Moved!">
	<meta name="keywords" content="301 redirection">
</head>

<body>
	<p style="font-family: monospace;">Resource [{#path}] has been permanently moved to [{#new}].</p>
</body>

</html>