<!doctype html>
<html>

<head>
	<title>Error 307: Temporary Redirect!</title>
	<meta name="description" content="Temporary Redirect!">
	<meta name="keywords" content="307 redirection">
</head>

<body>
	<p style="font-family: monospace;">Resource [{#path}] has been temporarily redirected to [{#new}].</p>
</body>

</html>