<!doctype html>
<html>

<head>
	<title>Error 307: Temporary Redirect!</title>
	<meta name="description" content="Temporary redirect">
	<meta name="keywords" content="307 redirection">
</head>

<body>
	<p style="font-family: monospace;">Resource [{#path}] temporarily redirects to <a href="{#new}">here</a>.</p>
</body>

</html>