<!doctype html>
<html>

<head>
	<title>Error 308: Permanent Redirect!</title>
	<meta name="description" content="Permanent Redirect!">
	<meta name="keywords" content="308 redirection">
</head>

<body>
	<p style="font-family: monospace;">Resource [{#path}] permanently redirects to <a href="{#new}">here</a>.</p>
</body>

</html>