<!doctype html>
<html>

<head>
	<title>Error 400: Bad Request!</title>
	<meta name="description" content="Bad Request!">
	<meta name="keywords" content="400 error">
</head>

<body>
	<p style="font-family: monospace;">Request for [{path}] is perceived as malformed.</p>
	<p style="font-family: monospace;">Reason: {reason}.</p>
</body>

</html>