<!doctype html>
<html>

<head>
	<title>Error 405: Method not allowed!</title>
	<meta name="description" content="Method not allowed">
	<meta name="keywords" content="405 error">
</head>

<body>
	<p style="font-family: monospace;">Method {#method} not allowed for [{#path}].</p>
	<p style="font-family: monospace;">Only the methods [{#allowed}] are allowed.</p>
</body>

</html>