<!doctype html>
<html>

<head>
	<title>Error 415: Unsupported Media Type!</title>
	<meta name="description" content="Unsupported Media Type!">
	<meta name="keywords" content="415 error">
</head>

<body>
	<p style="font-family: monospace;">Media type {used} not allowed for [{path}].</p>
	<p style="font-family: monospace;">Only the media types [{allowed}] are allowed.</p>
</body>

</html>