<!doctype html>
<html>

<head>
	<title>Error 500: Internal Server Error!</title>
	<meta name="description" content="Internal server error occurred">
	<meta name="keywords" content="500 error">
</head>

<body>
	<p style="font-family: monospace;">An internal server error occurred while processing the request for [{#path}]:</p>
	<p style="font-family: monospace;">{#what}</p>
</body>

</html>